[Unit]
Description=Payment Service
After=network.target

[Service]
User=root
WorkingDirectory=/app

Environment="CART_HOST=cart.dev"
Environment="CART_PORT=8080"
Environment="USER_HOST=user.dev"
Environment="USER_PORT=8080"
Environment="AMQP_HOST=rabbitmq.dev"
Environment="AMQP_USER=roboshop"
Environment="AMQP_PASS=roboshop123"

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment
Restart=always

[Install]
WantedBy=multi-user.target

